* {
    box-sizing: border-box;
    margin: 0;
}


/*apply to whole page*/
body {
    background-color: rgb(237, 248, 250);
    font-family: Arial, Helvetica, sans-serif;
}


/*header*/
header{
    font-size: 120%;
    color: white;
    text-shadow: 1px 2px 0 black;
    padding-left: 2rem;
}
#moments{
    padding-left: 2rem;
    padding-top: 15rem;
}
#hero {
    background-image: url(Images/hero.png);
    background-repeat: no-repeat;
    height: auto;
}
#Logo {
    max-width: 500px;
    padding-top: 4rem;
    padding-left: 4rem;
}
#weather {
    padding-top: 3rem;
}


/*nav bar*/
#menu{
    text-shadow: 1px 2px 0 black;
}
#navigation {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem 1rem 0;
    list-style-type: none;
    gap: 2rem;
}
ul a {
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(84, 168, 204);
}
/*
button{
    background: none;
        border: none;
        color: white;
        font-size: 600%;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 2rem;
        display:none;
        
}
button:focus{
    color: rgb(84, 168, 204);
}


/*Footer*/
footer{
    background-color: #C39595;
    color: rgb(255, 255, 255);
    padding: 4rem;
}

#comments{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem 1rem 0;
    list-style-type: none;
    gap: 2rem;
}


/*Small Screen*/
/*
@media screen and (max-width: 750px){
    button{
        display: block;
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 100;
    
        background-color: rgb(45, 43, 63);
        flex-direction: column;
    
        display: none;
    }
    nav.active{
        display: flex;
        flex-direction: column;
    }
    nav li{
        display: block;
        text-align: center;
        margin-right: 0;
    }
    nav li a{
       display: block;
       padding: 1rem;
    }

    #logo{
        padding-top: 0;
    }
}
    */