/*first section*/
img{
    max-width: 100%;
    border-radius: 8px;
}
figure{
    padding: 0.5rem;
}
figcaption {

}


/*hero images*/
#paradise {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
#white-beach{
    background-image: url(Images/white-sand-beach.jpg);
    border-radius: 1rem;
    max-width: 500px;
    height: 300px;
    
}
#white-beach figcaption{
    background-color: black;
    color: white;
    opacity: 60%;
    padding: 2rem;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
}

#pool {
    background-image: url(Images/architecture-blue-water-buildings-261102.jpg);
    border-radius: 1rem;
    max-width: 500px;
    height: 300px;
}
#pool figcaption{
    background-color: black;
    color: white;
    opacity: 60%;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}

#spa {
    background-image: url(Images/pexels-olly-3757657.jpg);
    border-radius: 1rem;
    max-width: 500px;
    height: 300px;
}
#spa figcaption {
    background-color: black;
    color: white;
    opacity: 60%;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}

#chef {
    background-image: url(Images/noz-thumb.jpg);
    border-radius: 1rem;
    max-width: 500px;
    height: 300px;
}
#chef figcaption {
    background-color: black;
    color: white;
    opacity: 60%;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}
/*end*/


/*Second Section*/
#luxury-rooms {
    padding: 5rem 0 0 2rem;
}
#luxury {
    padding: 2rem 2rem 5rem 2rem;
}
details {
    padding-bottom: 1rem;
    background-color: rgb(217, 222, 230);
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 0 0;
}
details summary{
    background-color: #C39595;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}
#luxury img {
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    max-width: 250px;
    height: auto;
}
#luxury p {
    padding: 1rem 2rem 0 2rem;
    font-size: 110%;
}
#luxury a {
    padding: 1rem 2rem 0 2rem;
    color: white;
    font-weight: bold;
    font-size: 110%;
}

/*Big size*/
@media screen and (min-width: 751px) {
    #paradise {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





