#spa {
    font-size: 80%;
    padding-top: 16rem;
}

figure {
    background-color: #dfc5c5;
    border: 3px solid #C39595;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

#spa img {
    max-width: 150px;
    max-height: 150px;
    padding-bottom: 1rem;
}

#notes {
    background-color: rgb(160, 176, 199);
    border: 3px solid rgb(116, 133, 158);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem; 
    margin-bottom: 5rem;
}

/*Large screen*/
@media screen and (min-width:751px) {
    #spa {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}